nav {
    color: var(--white);
    padding: 2rem;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    height: 100vh;
    width: 375px;
    background-color: var(--dark);
    transition: .5s ease-in-out;

    .nav-section {
        color: var(--secondary-color);

        h6 {
            font-weight: 500;
            font-size: 1rem;
        }

        hr {
            margin-top: 1.5rem;
            border-color: var(--secondary-color);
        }
    }

    .navigation {
        list-style-type: none;
        margin: 4rem 2rem;
        font-size: 3rem;
    }

    .socials {
        margin-top: 1rem;
        display: flex;
        column-gap: 2rem;

        a {
            color: var(--white);
            text-decoration: none;
        }
    }
}